.ImagePlaceHolder-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .img{
    width: 308px;
    height: 271px;
    margin-top: 120px;
    background: transparent url('https://raw.githubusercontent.com/codacy20/scripts/master/assets/beer.svg?token=ABNYBFM6WRYR3QF52JWITIK7LG4CA') 0% 0% no-repeat padding-box;
  }
}