.Layout-container {
  min-width: 85vw;
  height: 80vh;
  max-height: 868px;
  background: transparent linear-gradient(121deg, #F2F5FC 0%, #FCFDFF 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 8px 43px #7F9CE634;
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .left{
    width: 40%;
  }
  .right{
    width: 50%;
  }
}
    .notfier-container{
      width: 200px;
    }